name: Go application CI/CD

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

env:
  GOLANGCI_LINT_VERSION: v1.51.1
  TAG_NAME: "${GITHUB_REF##*/}"

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20"

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b /usr/local/bin ${GOLANGCI_LINT_VERSION}

      - name: Lint code
        run: golangci-lint run

  test:
    name: Unit test code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20"

      - name: Test code
        run: go test ./...

  test-integration:
    name: Test integration with Prometheus
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Compose
        uses: ndeloof/install-compose-action@v0.0.1
        with:
          version: v2.15.1
          legacy: true

      - name: Print compose version
        run: docker-compose version

      - name: Wait for compose
        run: make wait-for-compose

      - name: Run metrics integration test
        run: make verify-metrics

      - name: Shutdown compose
        run: docker-compose down -v

  build-linux:
    name: Build Linux binary
    runs-on: ubuntu-20.04
    needs: [lint, test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20"

      - name: Build Linux binary
        run: make build-linux

      - name: Upload Linux binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v1
        with:
          name: logstash-exporter-linux
          path: out/main-linux

  build-darwin:
    name: Build Mac binary
    runs-on: ubuntu-20.04
    needs: [lint, test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20"

      - name: Build Mac binary
        run: make build-darwin

      - name: Upload Mac binary
        uses: actions/upload-artifact@v1
        with:
          name: logstash-exporter-darwin
          path: out/main-darwin

  build-windows:
    name: Build Windows binary
    runs-on: ubuntu-20.04
    needs: [lint, test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20"

      - name: Build Windows binary
        run: make build-windows

      - name: Upload Windows binary
        uses: actions/upload-artifact@v1
        with:
          name: logstash-exporter-windows
          path: out/main-windows

  build-linux-docker-image:
    name: Build Linux Docker image
    runs-on: ubuntu-20.04
    needs: [build-linux]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: make build-docker

      - name: Login to GitHub registry
        if: github.ref == 'refs/heads/master'
        run: echo ${{ secrets.GH_PAT }} | docker login ghcr.io -u kuskoman --password-stdin

      - name: Login to Docker Hub
        if: startsWith(github.ref, 'refs/tags/')
        run: echo ${{ secrets.DOCKER_HUB_PAT }} | docker login -u kuskoman --password-stdin

      - name: Tag Docker image with master
        if: github.ref == 'refs/heads/master'
        run: docker tag logstash-exporter:latest ghcr.io/kuskoman/logstash-exporter:master

      - name: Tag Docker image with tag
        if: startsWith(github.ref, 'refs/tags/')
        run: docker tag logstash-exporter:latest kuskoman/logstash-exporter:${{ env.TAG_NAME }}

      - name: Push Docker image to GitHub registry
        if: github.ref == 'refs/heads/master'
        run: docker push ghcr.io/kuskoman/logstash-exporter:master

      - name: Push Docker image to Docker Hub
        if: startsWith(github.ref, 'refs/tags/')
        run: docker push kuskoman/logstash-exporter:${{ env.TAG_NAME }}

  create-release:
    name: Create GitHub release
    runs-on: ubuntu-20.04
    permissions:
      contents: write
      packages: write
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      release_id: ${{ steps.create_release.outputs.id }}
    needs: [build-linux, build-darwin, build-windows, build-linux-docker-image]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Output tag information
        run: |
          echo "Tag name: ${{ env.TAG_NAME }}"
          echo "Tag ref: ${{ github.ref }}"
      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  upload-binaries:
    strategy:
      matrix:
        binary: [linux, darwin, windows]
    runs-on: ubuntu-20.04
    needs:
      - create-release
      - build-linux
      - build-darwin
      - build-windows
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download binary
        uses: actions/download-artifact@v1
        with:
          name: logstash-exporter-${{ matrix.binary }}
      - name: Upload binary to GitHub release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ./logstash-exporter-${{ matrix.binary }}/main-${{ matrix.binary }}
          asset_name: logstash-exporter-${{ matrix.binary }}
          asset_content_type: application/octet-stream
